.card {
  border-radius: 6px;
  box-shadow: 2px 3px 16px 1px rgba(0, 0, 0, .4);
  overflow: hidden;
  transition: all .2s ease;

  &:hover {
    box-shadow: 3px 5px 20px 4px rgba(0, 0, 0, .3);
  }
  > .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > .card-content {
    padding: .5rem;
  }
  > .card-footer {
    .button {
      border: none;
      box-shadow: none;
    }
  }
}
