.w-columns {
  display: flex;
  margin: -.5rem;

  @function size($val) {
    @return calc(100% / 12 * #{$val})
  }
  > * {
    flex: none;
    height: 100%;
    width: 100%;
    padding: .5rem;
  }
  > .is-1 {
    width: size(1);
  }
  > .is-2 {
    width: size(2);
  }
  > .is-3 {
    width: size(3);
  }
  > .is-4 {
    width: 33.33333%;
  }
  > .is-5 {
    width: size(5);
  }
  > .is-6 {
    width: size(6);
  }
  > .is-7 {
    width: size(7);
  }
  > .is-8 {
    width: size(8);
  }
  > .is-9 {
    width: size(9);
  }
  > .is-10 {
    width: size(10);
  }
  > .is-11 {
    width: size(11);
  }
  > .is-12 {
    width: size(12);
  }

  @media screen and (min-width: 769px) {
    > .is-1-tablet {
      width: size(1);
    }
    > .is-2-tablet {
      width: size(2);
    }
    > .is-3-tablet {
      width: size(3);
    }
    > .is-4-tablet {
      width: size(4);
    }
    > .is-5-tablet {
      width: size(5);
    }
    > .is-6-tablet {
      width: size(6);
    }
    > .is-7-tablet {
      width: size(7);
    }
    > .is-8-tablet {
      width: size(8);
    }
    > .is-9-tablet {
      width: size(9);
    }
    > .is-10-tablet {
      width: size(10);
    }
    > .is-11-tablet {
      width: size(11);
    }
    > .is-12-tablet {
      width: size(12);
    }
  }

  @media screen and (min-width: 1080px) {
    > .is-1-desktop {
      width: size(1);
    }
    > .is-2-desktop {
      width: size(2);
    }
    > .is-3-desktop {
      width: size(3);
    }
    > .is-4-desktop {
      width: size(4);
    }
    > .is-5-desktop {
      width: size(5);
    }
    > .is-6-desktop {
      width: size(6);
    }
    > .is-7-desktop {
      width: size(7);
    }
    > .is-8-desktop {
      width: size(8);
    }
    > .is-9-desktop {
      width: size(9);
    }
    > .is-10-desktop {
      width: size(10);
    }
    > .is-11-desktop {
      width: size(11);
    }
    > .is-12-desktop {
      width: size(12);
    }
  }
}
