.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 100;

  &.fullscreen {
    .modal-container,
    .modal-content {
      height: 100%;
      width: 100%;
    }
    .modal-container {
      > :first-child,
      > :last-child {
        border-radius: 0;
      }
    }
  }
  .modal-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 0;

    > * {
      background-color: white;
    }
    > :first-child {
      border-top-left-radius: $modal-radius;
      border-top-right-radius: $modal-radius;
    }
    > :last-child {
      border-bottom-left-radius: $modal-radius;
      border-bottom-right-radius: $modal-radius;
    }
    .modal-head {
      padding: .5rem .75rem;
      text-align: center;
      flex-basis: 32px
    }
    .modal-content {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      padding: .5rem .75rem;
    }
    .modal-foot {
      padding: .5rem .75rem;
      flex-basis: 32px
    }
  }
  .modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
  }

  &.transition-enter-active,
  &.transition-leave-active {
    transition: opacity 100ms ease-out;

    .modal-container,
    .modal-container {
      transition: transform 150ms ease-out;
    }
  }
  &.transition-enter,
  &.transition-leave-active {
    opacity: 0;

    .modal-container,
    .modal-container {
      transform: scale(.95);
    }
  }
}
