.w-navtabs {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;

  .w-navtab {
    position: relative;
    display: inline-flex;
    padding: .5rem .875rem;
    align-items: center;
    cursor: pointer;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: lighten($main-color, 20%);
      transform: scale(0, 1);
      transform-origin: center top;
      transition: all .3s;
      font-weight: bold;
    }
    &:hover:after {
      transform: scale(1, 1);
    }
    &.is-active {
      font-weight: bold;

      &:after {
        transform: scale(1, 1);
        background-color: $main-color;
      }
    }
  }
}
