.rate {
  position: relative;
  height: 1.25em;

  > div {
    position: absolute;
    display: flex;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  .stars {
    .icon {
      color: #f9d100;
    }
  }
  .icon {
    width: 1.5em;
    min-width: 1.5em;
    text-align: center;
  }
}
