@import "./constants";
@import "~swiper/dist/css/swiper.css";

html {
  font-size: $size-base;
}

body {
  .is-huge {
    font-size: $size-1;
  }
  .is-large {
    font-size: $size-3;
  }
  .is-small {
    font-size: $size-7;
  }
  .is-mini {
    font-size: $size-9;
  }
}

input, textarea {
  font-size: $size-base;
}

.field {
  &:not(:last-child) {
    margin-bottom: .5rem;
  }
}

.is-loading {
  color: transparent !important;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-.5em - 2px);
    margin-left: calc(-.5em - 2px);
    animation: spinAround .5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
  }
}

.has-centered {
  align-items: center;
  text-align: center;
}
.has-bg-primary {
  background-color: $primary;
}
.has-bg-red {
  background-color: red;
}
.has-bg-black {
  background-color: black;
}
.has-bg-blue {
  background-color: blue;
}
.has-bg-green {
  background-color: green;
}
.has-bg-cyan {
  background-color: cyan;
}
.has-bg-transparent {
  background-color: transparent;
}
