@import "./constants";

html {
  font-family: $font;
  font-size: 16px;
  height: 100%;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  .is-huge {
    font-size: $size-1;
  }
  .is-large {
    font-size: $size-3;
  }
  .is-small {
    font-size: $size-7;
  }
  .is-mini {
    font-size: $size-9;
  }
  * {
    box-sizing: border-box;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
* {
  position: relative;
}

input, textarea {
  font-size: $size-base;
}

ul {
  list-style: none;
  padding: 0;

  li {
    padding: .5rem;
    cursor: pointer;
  }
}

a {
  color: #2146ff;
  display: inherit;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.is-nowrap {
  white-space: nowrap;
}

.navtabs {
  &.fullwidth {
    justify-content: space-evenly;

    li {
      width: 100%;
      text-align: center;
    }
  }
}

.tag {
  $bg-color: limegreen;

  color: $bg-color;
  border: 1px solid $bg-color;
  border-radius: 4px;
  height: 2em;
  padding: .25em .5em;
}

.line-2 {
  overflow: hidden;
  max-height: 2em;
  line-height: 1;
}

.line-3 {
  overflow: hidden;
  max-height: 3em;
  line-height: 1;
}

.media {
  display: flex;

  > :not(:last-child) {
    margin-right: .75rem;
  }
}

.input {
  border: 1px solid gainsboro;
  padding: .375rem;
  border-radius: 6px;

  &.has-icon-left {
    margin-left: -2rem;
    padding-left: 2rem;
  }
  &.has-icon-right {
    margin-right: -2rem;
    padding-right: 2rem;
  }
}

.flexbox {
  display: flex;
  align-items: center;

  > :not(:last-child) {
    margin-right: .5rem;
  }
}

.flexcolumn {
  display: flex;
  flex-direction: column;

  > :not(:last-child) {
    margin-bottom: .5rem;
  }
}

.field {
  &:not(:last-child) {
    margin-bottom: .5rem;
  }
}

.level {
  display: flex;

  > * {
    flex: 1;
  }
}

.is-loading {
  color: transparent !important;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-.5em - 2px);
    margin-left: calc(-.5em - 2px);
    animation: spinAround .5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
  }
}

.is-right {
  margin-left: auto;
}

.has-space-between {
  justify-content: space-between;
}

.has-white {
  color: white;
}

.is-word-break-word {
  word-break: break-word;
}

.has-flex-start-align {
  align-items: flex-start;
}

.has-centered {
  justify-content: center;
  text-align: center;
}

.has-weak {
  color: $weak !important;
}
.has-text-transparent {
  color: transparent !important;
}
.has-bg-primary {
  background-color: $primary !important;
}
.has-bg-red {
  background-color: red;
}
.has-bg-black {
  background-color: black;
}
.has-bg-blue {
  background-color: blue;
}
.has-bg-green {
  background-color: green;
}
.has-bg-cyan {
  background-color: cyan;
}
.has-bg-transparent {
  background-color: transparent !important;
}

.bold {
  font-weight: bold;
}

.image {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &.is-1by1 {
    padding-top: 100%;
  }
  &.is-4by3 {
    padding-top: 75%;
  }
  &.is-16by9 {
    padding-top: 56.25%;
  }
}

@import "components/index";
